NODE_ENV=development
PORT=4173
SITE_URL=http://localhost:4173
MONGODB_URI=mongodb://127.0.0.1:27017/toto_fashion
SESSION_SECRET=change-this-to-a-long-random-value
SESSION_STORE=memory
COOKIE_SAMESITE=lax
TRUST_PROXY=0

MELIPAYAMAK_SHARED_KEY=
MELIPAYAMAK_BODY_ID=502666
MELIPAYAMAK_ORDER_BODY_ID=
OTP_EXPIRES_SECONDS=120

PAYMENT_MOCK=false
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=false
ZARINPAL_AMOUNT_UNIT=toman

ADMIN_EMAIL=iUqcjT1Nh62e@gmail.com
ADMIN_PASSWORD=change-this
ADMIN_MOBILE=09120000000

SEED_ON_START=true
FREE_SHIPPING_THRESHOLD=2000000
STANDARD_SHIPPING_PRICE=120000
